.container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.title {
  padding: 20px;
  margin: 0;
  color: grey;
}

.editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f0def3;
}
.editor-container textarea {
  width: 100%;
  flex: 1;
  padding: 20px;
  background-color: #f0def3;
  border: none;
}

textarea:focus {
  outline: none;
}

.previewer-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff4e5;
  overflow: hidden;
}

.previewer {
  overflow-y: auto;
  flex: 1;
  padding: 20px;
}

/* This query was necessary for changing the size of the elements on mobile cellphone*/
@media only screen and (max-width: 800px) {
  /*welcome section media query*/

  .container {
    flex-direction: column;
  }
}
